@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  --background: #d9d9d9;
  --text: #000;
  --text_light: #fff;
  --accent: #ff6600;
  --accent_light: #fab485;
  --article_bg: rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 1600px;
  margin: auto;
}

/* ==============================
              Body
============================== */

.Body {
  background: var(--background);
}

/* ==============================
            Header
============================== */

.Header {
  background: var(--accent);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.navigation svg {
  width: 40px;
  fill: var(--text_light);
}

nav span {
  color: var(--text_light);
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1em;
}

nav ul li {
  padding: 0 10px;
  border-right: 2px solid var(--text_light);
}

nav ul li:last-child {
  padding: 0 10px;
  border: 0;
}

nav ul li a {
  color: var(--text_light);
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: var(--accent_light);
}

.login a {
  color: var(--text_light);
  text-decoration: none;
  transition: all 0.3s ease;
}

.login a:hover {
  color: var(--accent_light);
}

/* ==============================
            Search
============================== */
.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.search_wrapper {
  height: 45px;
  border-radius: 10px;
  background-color: #00000029;
}

.search_input {
  width: 650px;
  min-height: -webkit-fill-available;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: var(--article_bg);
}

@media (max-width: 800px) {
  .search_input {
    width: 450px;
  }
}

@media (max-width: 600px) {
  .search_input {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .search_input {
    max-width: 150px;
  }
  .search_button {
    width: 80px;
  }
}

.search_input::placeholder {
  color: black;
  text-indent: 15px;
}

.search_button {
  width: 110px;
  border: none;
  min-height: -webkit-fill-available;
  border-radius: 0 10px 10px 0;
  background: var(--article_bg);
  border-left: 2px solid #ff6600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.search_button:hover {
  background: var(--accent_light);
}
/* ==============================
            Article
============================== */

.Article__wrapper {
  background-color: var(--article_bg);
  margin: 1rem 2rem;
  border-radius: 1.5rem;
}

.Article {
  padding: 0.75rem 0rem;
  margin: 0.25rem 3rem;
  position: relative;
}

.Article::marker {
  font-size: 1.5rem;
  font-weight: 900;
}

.Article__btn-up {
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Article__btn-up:hover {
  color: var(--background);
}

.Article a {
  text-decoration: none;
  display: inline-block;
  margin: 0rem 0.5rem;
  transition: all 0.3s ease;
}

.Article__title {
  color: var(--accent);
  font-weight: 700;
}

.Article__source {
  color: inherit;
  transition: all 0.3s ease;
}

.Article__source:hover {
  color: var(--background);
}

.Article p {
  margin-left: 1.5rem;
}

.Article__hide {
  transition: all 0.3s ease;
  cursor: pointer;
}

.Article__hide:hover {
  color: var(--background);
  text-decoration: underline;
}

/* ==============================
            Pagination
============================== */

/* ==============================
            Footer
============================== */

.Footer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent_light);
}

.Footer-hd{
  margin-left: 3em;
}


.Footer-hd h3 {
  margin-top: 2rem;
  color: var(--text_light);
}

.Footer-list{
  margin-bottom: 0.2em;
}

.Footer-list ul  {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color:var(--text) ;
  margin-bottom: 9px;
}

.Footer-list ul > li {
  margin: 0 0.12rem 0.3rem 0.3rem;
  font-size: 13px;  
}