@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--background_body);
  --background_body: #fff;
  --background: #d9d9d9;
  --accent_reagan: #0d3153;
  --text: #000;
  --text_light: #fff;
  --accent: #ff6600;
  --accent_light: #fab485;
  --accent_border: #ff6600;
  --article_bg: rgba(0, 0, 0, 0.2);
  --shadow: rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 1600px;
  margin: auto;
}

/* ==============================
              Body
============================== */

.Body {
  background: var(--background);
  min-height: 800px;
  padding-bottom: 20px;
}

/* ==============================
          Reagan mode
============================== */

.reagan_mod {
  min-height: 100vh;
  --background: #091825;
  --background_body: #222222;
  --accent_reagan: #ff6600;
  --text: #6b6b6b;
  --text_light: #fff;
  --accent: #0d3153;
  --accent_light: #2e4e6b;
  --accent_border: #0d3153;
  --article_bg: rgba(0, 0, 0, 0.2);
  --shadow: rgba(255, 255, 255, 0.1);
  font-family: "Poppins", sans-serif;
}

.Reagan {
  width: 190px;
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 3px 15px;
  top: 20vh;
  right: -120px;
  background: var(--background);
  border-radius: 10px 10px 0 0;
  transform: rotate(-90deg);
  box-shadow: 2px 2px 10px var(--shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  font-weight: 700;
  color: var(--text);
}

@keyframes slidein {
  from {
    right: -120px;
  }

  to {
    right: -82px;
  }
}

.Reagan:hover {
  background: var(--accent_reagan);
  color: var(--text_light);
}

/* ==============================
            Header
============================== */

.Header {
  background: var(--accent);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.navigation svg {
  width: 40px;
  fill: var(--text_light);
}

nav span {
  color: var(--text_light);
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1em;
  padding-left: 5px;
}

nav ul li {
  padding-left: 5px;
  color: var(--text_light);
}

nav ul li a {
  color: var(--text_light);
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: var(--accent_light);
}

.login a {
  color: var(--text_light);
  text-decoration: none;
  transition: all 0.3s ease;
}

.login a:hover {
  color: var(--accent_light);
}

/* ==============================
            Search
============================== */
.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.search_wrapper {
  height: 45px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.search_input {
  width: 450px;
  min-height: -webkit-fill-available;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: var(--article_bg);
  color: var(--text);
  text-indent: 15px;
  outline: none;
}

@media (max-width: 800px) {
  .search_input {
    width: 450px;
  }
}

@media (max-width: 600px) {
  .search_input {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .search_input {
    max-width: 150px;
  }
  .search_button {
    width: 80px;
  }
}

.search_input::placeholder {
  color: var(--text);
  text-indent: 15px;
}

.search_input:focus::placeholder {
  color: transparent;
}

.search_button {
  width: 110px;
  border: none;
  min-height: -webkit-fill-available;
  border-radius: 0 10px 10px 0;
  background: var(--article_bg);
  border-left: 2px solid var(--accent_border);
  color: var(--text);
  transition: all 0.3s ease;
  cursor: pointer;
}

.search_button:hover {
  background: var(--accent_light);
  border-left: 2px solid var(--text_light);
  color: var(--text_light);
}
/* ==============================
            Article
============================== */

.Article__wrapper {
  background-color: var(--article_bg);
  margin: 1rem 2rem;
  border-radius: 1.5rem;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
}

.Article {
  padding: 0.75rem 0rem;
  /* max-width: 1080px; */
  min-width: 1000px;
  display: inline-block;
}

.Article__num {
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0.75rem 0 1rem;
  color: var(--text);
  text-align: center;
}

.Article__btn-up {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  border-left: 3px solid var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 0.3s ease;
}
.Article__btn-up:hover {
  background: var(--accent_light);
  color: var(--background);
  border-left: 3px solid var(--text_light);
}

.Article__btn-up svg {
  stroke: var(--accent);
  stroke-width: 1.5px;
  transition: all 0.3s ease;
}

.Article__btn-up:hover svg {
  stroke: var(--text_light);
}

.Article__btn-svg {
  stroke: var(--accent);
  stroke-width: 1.5px;
  transition: all 0.3s ease;
}

.Article__btn-animation {
  /* transform: scale(1.1) translate(-3px, -3px) rotate(-5deg); */
  animation: like_animation 0.5s ease-out;
}

@keyframes like_animation {
  66% {
    transform: scale(1.1) translate(-3px, -3px) rotate(-5deg);
  }
}

.Article a {
  text-decoration: none;
  display: inline-block;
  margin: 0rem 0.5rem;
  transition: all 0.3s ease;
  color: var(--text);
}

.Article a h3 {
  color: var(--accent);
  font-weight: 700;
}

.Article__source {
  color: inherit;
  transition: all 0.3s ease;
}

.Article__source:hover {
  color: var(--accent);
}

.Article p {
  margin-left: 0.5rem;
  color: var(--text);
}

.Article__hide {
  transition: all 0.3s ease;
  cursor: pointer;
}

.Article__hide:hover {
  color: var(--accent);
  text-decoration: underline;
}

/* ==============================
            Pagination
============================== */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root > div > div.Body > div.pagination > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  list-style: none;
  flex-direction: row;
  cursor: pointer;

  width: fit-content;
  min-height: 15px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--article_bg);
  color: var(--text);
  outline: none;
  margin: 40px;
  padding: 10px;
}

/* ==============================
            Footer
============================== */

.Footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent_light);
  border-top: 4px solid var(--accent);
}

.Footer-hd {
  margin-bottom: 1em;
}

.Footer-hd h3 {
  color: var(--text_light);
}

.Footer-list {
  margin-bottom: 0.2em;
}

.Footer-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: var(--text);
  margin-bottom: 9px;
}

.Footer-list ul > li {
  margin: 0 0.12rem 0.3rem 0.3rem;
  font-size: 13px;
}

.Footer-list ul li a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.3s ease;
}

.Footer-list ul li a:hover {
  color: var(--accent);
}
